body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #f44336, #e57373);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

button {
  background-color: #8bc34a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #689f38;
}